<?xml version="1.0"?>
<model>
  <name>TurtleBot3(Waffle Pi with YDLIDAR OS30A and IMU - No LiDAR)</name>
  <version>2.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>jjj</name>
    <email>jjj@todo.todo</email>
  </author>
  <description>
    TurtleBot3 Waffle Pi customized with YDLIDAR OS30A (78 deg HFOV, 0.2-2.5m) RGB-D Depth Camera and 100Hz IMU, without 2D LiDAR.
  </description>
</model>
